
/************************ VARIAVEIS ATIVAS ************************/

:root {
    --cor-primaria: #03001C;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #301E67;
    --cor-quartenaria: #000000;
    --cor-fundo-card: #ffffff;
    --cor-hover: #5B8FB9;

    --cor-foguete: #301e67;

    --botao-github: #532f9d;
    --botao-github-efeito: #8363c5;

    --cor-gradiente-primario: linear-gradient(#301E67, #03001C);
    --cor-gradiente-secundario: linear-gradient(#301E67, #000000 60%);

    --fonte-primaria: 'Krona one', sans-serif;
    --fonte-secundária: 'Montserrat', sans-serif;
}

/************************ VARIAVEIS ATIVAS ************************/


body {
    font-family: Arial, sans-serif;
}

.logo__site {
    width: 1em;
}

.menu__barra {
    position: fixed;
    z-index: 1000;
    width: 100%;
}




/* Cotacao Dia */

.status__moedas {
    padding: 5rem 0;
}

.mom__biticoin   {
    padding: 2rem 0;
}

.mom__ethereum {
    padding: 2rem 0;
}

.mom__litecoin{
    padding: 2rem 0;
}

.crypto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.crypto-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.crypto-card h3 {
  margin: 10px 0;
  color: #532f9d;
}

.crypto-card p {
  font-size: 1.1rem;
  color: #333;
}

.crypto-card .price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.crypto-card .change {
  font-size: 1.2rem;
  color: green;
  margin-top: 10px;
}

.crypto-card .change.down {
  color: red;
}


/* Cotacao Dia */



/* Ultimos 12 meses biticoin */


.mom__bitcoin {
  width: 80%;
  max-width: 900px;
  text-align: center;
}

.mom__bitcoin h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

mom__bitcoin canvas {
  width: 100%;
  height: 400px;
}


/* Ultimos 12 meses biticoin */






/* Início Rodapé */

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    padding: 75px 0 75px 0;
    text-align: center;
    font-weight: 400;
}


.rodape__botao__dev {
    width: 80%;
    border-radius: 8px;
    padding: 0.5em;
    background-color: #532f9d;
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    transition: 600ms;
    margin: 20px 0;
}

.rodape__botao__dev:hover {
    background-color: #8363c5;
    transition: 600ms;
}

/* Final Rodapé */

@media screen and (min-width: 1024px) {
    .rodape__botao__dev {
        width: 25%;
    }

}

@media screen and (min-width: 1728px) {
    .rodape__botao__dev {
        width: 25%;
    }

}